@model HospitalManagementSystem.GroupDT

@{
    ViewBag.Title = "Edit Group";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Center Detail</title>
    <link rel="stylesheet" href=@Url.Content("~/Content/themes/base/jquery-ui.css") type="text/css">
    <script src=@Url.Content("~/Scripts/jquery-ui-1.13.2.js")></script>
    <script src=@Url.Content("~/Scripts/jquery-ui-1.13.2.min.js")></script>
</head>
<body>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <div class="page-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="page-body-wrapper">
                <br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Edit Group</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Group_ID)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Group_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Group_Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Group_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-outline-success-2x" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "AddgRoups")
                </div>

                <script src="~/Scripts/jquery-3.4.1.min.js"></script>
                <script src="~/Scripts/jquery.validate.min.js"></script>
                <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


            </div>
        </div>
    </div>
</body>
</html>