@model IEnumerable<HospitalManagementSystem.Models.ReferalDetails>
@{
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Center Detail</title>


</head>
<body>
    <div class="page-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="page-body-wrapper">
                <div class="container-fluid">

                    <p>
                        @Html.ActionLink("Add New", "Index", new object { }, new { @class = "btn btn-info-gradien" })
                    </p>
                    <br />
                    <table class="table table-bordered table-sm">
                        <tr>
                            <th>Action</th>
                            <th>
                              Referal Type
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Referal_Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                Incentive %
                            </th>
                            <th>
                               Status
                            </th>


                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink("Edit", "EditReferals", new { id = item.RefId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.RefId })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RefType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Referal_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ComP)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ref_Status)
                                </td>


                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>